PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_workbench_password
DB_NAME=portfolio_db

EMAIL_USER=noluthandosekhula63@gmail.com
EMAIL_PASS=your_16_char_app_password_here
EMAIL_TO=noluthandosekhula63@gmail.com

FRONTEND_URL=http://localhost:3000
